<extend name="Public:base" />
<block name="page-content">

	<!--
	<div class="page-header">
		<h1>
			Tables
			<small>
				<i class="icon-double-angle-right"></i>
				Static &amp; Dynamic Tables
			</small>
		</h1>
	</div>
	--><!-- /.page-header -->

	<div class="col-xs-12">
		<div class="tabbable">
			<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
				<li>
					<a href="{:U('Menu/index')}">菜单列表</a>
				</li>

				<li class="active">
					<a href="{:U('Menu/menu_add')}">添加菜单</a>
				</li>

			</ul>

			<div class="tab-content">
				<div id="menu_list" class="tab-pane in active">

					<div class="page-content">

						<div class="row">
							<div class="col-xs-12">		

								<form class="form-horizontal form_menu_add" name="admin_rule_copy" method="post" action="{:U('Menu/menu_runadd')}">
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 父级权限： </label>
										<div class="col-sm-9">
											<select name="pid_level"  class="col-xs-10 col-sm-5" required>
												<option value="0-1">--默认顶级--</option>
												<foreach name="menu_layer" item="v">
													<option value="{$v.id}-{$v.level}" <if condition="$v['id'] eq $pid">selected</if> >{$v.lefthtml}{$v.title}</option>
												</foreach>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 导航标题： </label>
										<div class="col-sm-9">
											<input type="text" name="title" id="title"  value=""  class="col-xs-10 col-sm-5" required/>
                                            <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle" id="resone"></span>
											</span>
										</div>
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 控制器/方法： </label>
										<div class="col-sm-9">
											<input type="text" name="name" id="name"  value=""  class="col-xs-10 col-sm-5" required/>
                                            <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle" id="restwo"></span>
											</span>
										</div>
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 样式名称： </label>
										<div class="col-sm-9">
											<input type="text" name="css" id="css"  value="" class="col-xs-10 col-sm-5" />
				                            <span class="help-inline col-xs-12 col-sm-7">
												<!-- <span class="middle">只针对顶级栏目有效</span> -->
												<a class="btn btn-sm btn-primary" data-toggle="modal" data-target="#iconModal">参考图标</a>
											</span>
										</div>
										<!-- <span class="col-sm-3"></span><span class="col-sm-9" style="font-size:12px; color:#999; margin-top:5px;">预留样式：fa-tachometer ， fa-folder ， fa-list ， fa-list-alt ， fa-calendar</span> -->
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 是否开启： </label>
										<div class="col-sm-9" style="padding-top:5px;">
											<input name="status" value="1" class="ace ace-switch ace-switch-5" type="checkbox" checked="checked" />
											<span class="lbl"></span>
										</div>
									</div>
									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 排序（从小到大）： </label>
										<div class="col-sm-9">
											<input type="text" name="sort" id="sort"  value="50" class="col-xs-10 col-sm-1" />
										</div>
									</div>
									<div class="space-4"></div>

									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="submit">
												<i class="icon-ok bigger-110"></i>
												确定
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset">
												<i class="icon-undo bigger-110"></i>
												重置
											</button>
										</div>
									</div>

								</form>

							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->

				</div>

			</div>
		</div>
	</div><!-- /span -->

	<!-- 显示参考模态框（Modal） -->
	<div class="modal fade" id="iconModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

		<div class="modal-dialog" style="width: 70%;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×
					</button>
					<h4 class="modal-title" id="myModalLabel">
						参考图标
					</h4>
				</div>
				<div class="modal-body">

					<div class="row">

						<div class="col-xs-6 col-sm-3">
							<ul class="list-unstyled">
								<li>
									<i class="icon-adjust"></i>
									icon-adjust
								</li>

								<li>
									<i class="icon-asterisk"></i>
									icon-asterisk
								</li>

								<li>
									<i class="icon-ban-circle"></i>
									icon-ban-circle
								</li>

								<li>
									<i class="icon-bar-chart"></i>
									icon-bar-chart
								</li>

								<li>
									<i class="icon-barcode"></i>
									icon-barcode
								</li>

								<li>
									<i class="icon-beaker"></i>
									icon-beaker
								</li>

								<li>
									<i class="icon-beer"></i>
									icon-beer
								</li>

								<li>
									<i class="icon-bell"></i>
									icon-bell
								</li>

								<li>
									<i class="icon-bell-alt"></i>
									icon-bell-alt
								</li>

								<li>
									<i class="icon-bolt"></i>
									icon-bolt
								</li>

								<li>
									<i class="icon-book"></i>
									icon-book
								</li>

								<li>
									<i class="icon-bookmark"></i>
									icon-bookmark
								</li>

								<li>
									<i class="icon-bookmark-empty"></i>
									icon-bookmark-empty
								</li>

								<li>
									<i class="icon-briefcase"></i>
									icon-briefcase
								</li>

								<li>
									<i class="icon-bullhorn"></i>
									icon-bullhorn
								</li>

								<li>
									<i class="icon-calendar"></i>
									icon-calendar
								</li>

								<li>
									<i class="icon-camera"></i>
									icon-camera
								</li>

								<li>
									<i class="icon-camera-retro"></i>
									icon-camera-retro
								</li>

								<li>
									<i class="icon-certificate"></i>
									icon-certificate
								</li>
							</ul>
						</div>

						<div class="col-xs-6 col-sm-3">
							<ul class="list-unstyled">
								<li>
									<i class="icon-check"></i>
									icon-check
								</li>

								<li>
									<i class="icon-check-empty"></i>
									icon-check-empty
								</li>

								<li>
									<i class="icon-circle"></i>
									icon-circle
								</li>

								<li>
									<i class="icon-circle-blank"></i>
									icon-circle-blank
								</li>

								<li>
									<i class="icon-cloud"></i>
									icon-cloud
								</li>

								<li>
									<i class="icon-cloud-download"></i>
									icon-cloud-download
								</li>

								<li>
									<i class="icon-cloud-upload"></i>
									icon-cloud-upload
								</li>

								<li>
									<i class="icon-coffee"></i>
									icon-coffee
								</li>

								<li>
									<i class="icon-cog"></i>
									icon-cog
								</li>

								<li>
									<i class="icon-cogs"></i>
									icon-cogs
								</li>

								<li>
									<i class="icon-comment"></i>
									icon-comment
								</li>

								<li>
									<i class="icon-comment-alt"></i>
									icon-comment-alt
								</li>

								<li>
									<i class="icon-comments"></i>
									icon-comments
								</li>

								<li>
									<i class="icon-comments-alt"></i>
									icon-comments-alt
								</li>

								<li>
									<i class="icon-credit-card"></i>
									icon-credit-card
								</li>

								<li>
									<i class="icon-dashboard"></i>
									icon-dashboard
								</li>

								<li>
									<i class="icon-desktop"></i>
									icon-desktop
								</li>

								<li>
									<i class="icon-download"></i>
									icon-download
								</li>

								<li>
									<i class="icon-download-alt"></i>
									icon-download-alt
								</li>
							</ul>
						</div>

						<div class="col-xs-6 col-sm-3">
							<ul class="list-unstyled">
								<li>
									<i class="icon-edit"></i>
									icon-edit
								</li>

								<li>
									<i class="icon-envelope"></i>
									icon-envelope
								</li>

								<li>
									<i class="icon-envelope-alt"></i>
									icon-envelope-alt
								</li>

								<li>
									<i class="icon-exchange"></i>
									icon-exchange
								</li>

								<li>
									<i class="icon-exclamation-sign"></i>
									icon-exclamation-sign
								</li>

								<li>
									<i class="icon-external-link"></i>
									icon-external-link
								</li>

								<li>
									<i class="icon-eye-close"></i>
									icon-eye-close
								</li>

								<li>
									<i class="icon-eye-open"></i>
									icon-eye-open
								</li>

								<li>
									<i class="icon-facetime-video"></i>
									icon-facetime-video
								</li>

								<li>
									<i class="icon-fighter-jet"></i>
									icon-fighter-jet
								</li>

								<li>
									<i class="icon-film"></i>
									icon-film
								</li>

								<li>
									<i class="icon-filter"></i>
									icon-filter
								</li>

								<li>
									<i class="icon-fire"></i>
									icon-fire
								</li>

								<li>
									<i class="icon-flag"></i>
									icon-flag
								</li>

								<li>
									<i class="icon-folder-close"></i>
									icon-folder-close
								</li>

								<li>
									<i class="icon-folder-open"></i>
									icon-folder-open
								</li>

								<li>
									<i class="icon-folder-close-alt"></i>
									icon-folder-close-alt
								</li>

								<li>
									<i class="icon-folder-open-alt"></i>
									icon-folder-open-alt
								</li>

								<li>
									<i class="icon-food"></i>
									icon-food
								</li>
							</ul>
						</div>

						<div class="col-xs-6 col-sm-3">
							<ul class="list-unstyled">
								<li>
									<i class="icon-gift"></i>
									icon-gift
								</li>

								<li>
									<i class="icon-glass"></i>
									icon-glass
								</li>

								<li>
									<i class="icon-globe"></i>
									icon-globe
								</li>

								<li>
									<i class="icon-group"></i>
									icon-group
								</li>

								<li>
									<i class="icon-hdd"></i>
									icon-hdd
								</li>

								<li>
									<i class="icon-headphones"></i>
									icon-headphones
								</li>

								<li>
									<i class="icon-heart"></i>
									icon-heart
								</li>

								<li>
									<i class="icon-heart-empty"></i>
									icon-heart-empty
								</li>

								<li>
									<i class="icon-home"></i>
									icon-home
								</li>

								<li>
									<i class="icon-inbox"></i>
									icon-inbox
								</li>

								<li>
									<i class="icon-info-sign"></i>
									icon-info-sign
								</li>

								<li>
									<i class="icon-key"></i>
									icon-key
								</li>

								<li>
									<i class="icon-leaf"></i>
									icon-leaf
								</li>

								<li>
									<i class="icon-laptop"></i>
									icon-laptop
								</li>

								<li>
									<i class="icon-legal"></i>
									icon-legal
								</li>

								<li>
									<i class="icon-lemon"></i>
									icon-lemon
								</li>

								<li>
									<i class="icon-lightbulb"></i>
									icon-lightbulb
								</li>

								<li>
									<i class="icon-lock"></i>
									icon-lock
								</li>

								<li>
									<i class="icon-unlock"></i>
									icon-unlock
								</li>
							</ul>
						</div>
					</div>


				</div>
				
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->

	</div><!-- /.modal -->

</block>

<block name="scripts">

	<!-- page specific plugin scripts -->

	<script src="__JS__/jquery.dataTables.min.js"></script>
	<script src="__JS__/jquery.dataTables.bootstrap.js"></script>

	<!-- inline scripts related to this page -->

</block>
