				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<div class="sidebar" id="sidebar">
					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
					</script>

					<div class="sidebar-shortcuts" id="sidebar-shortcuts">
						<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
							<button class="btn btn-success">
								<i class="icon-signal"></i>
							</button>

							<button class="btn btn-info">
								<i class="icon-pencil"></i>
							</button>

							<button class="btn btn-warning">
								<i class="icon-group"></i>
							</button>

							<button class="btn btn-danger">
								<i class="icon-cogs"></i>
							</button>
						</div>

						<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
							<span class="btn btn-success"></span>

							<span class="btn btn-info"></span>

							<span class="btn btn-warning"></span>

							<span class="btn btn-danger"></span>
						</div>
					</div><!-- #sidebar-shortcuts -->

					<ul class="nav nav-list">

					<volist name="menus_tree" id="v">
						<li class="<if condition="(count($menu_parents) egt 1) AND ($menu_parents[0]['id'] eq $v['id'])">open active</if>">
							<a href="{$v.url}" class="dropdown-toggle">
								<i class="{$v.css}"></i>
								<span class="menu-text"> {$v.title} </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<if condition="!empty($v['child'])">
							<ul class="submenu">

								<volist name="v['child']" id="v2">
								<li class="<if condition="(count($menu_parents) egt 2) AND ($menu_parents[1]['id'] eq $v2['id'])">open active</if>">
									<a href="{$v2.url}" class="dropdown-toggle">
										<i class="icon-double-angle-right"></i>
										{$v2.title}
										<b class="arrow icon-angle-down"></b>
									</a>

									<if condition="!empty($v2['child'])">
									<ul class="submenu">

										<volist name="v2['child']" id="v3">
										<li class="<if condition="(count($menu_parents) egt 3) AND ($menu_parents[2]['id'] eq $v3['id'])">active</if>">
											<a href="{$v3.url}">
												<i class="{$v3.css}"></i>
												{$v3.title}
											</a>
										</li>
										</volist>

									</ul>
									</if>
								</li>
								</volist>

							</ul>
							</if>
						</li>
					</volist>


						<!--
						<li class="active">
							<a href="index.html">
								<i class="icon-dashboard"></i>
								<span class="menu-text"> 系统设置 </span>
							</a>
						</li>

						<li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-group"></i>
								<span class="menu-text"> 用户管理 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">

								<li>
									<a href="#" class="dropdown-toggle">
										<i class="icon-double-angle-right"></i>
										管理组
										<b class="arrow icon-angle-down"></b>
									</a>

									<ul class="submenu">
										<li>
											<a href="{:U('Admin/User/index')}">
												<i class="icon-leaf"></i>
												管理员
											</a>
										</li>

										<li>
											<a href="{:U('Admin/User/role')}">
												<i class="icon-leaf"></i>
												角色管理
											</a>
										</li>

									</ul>
								</li>

								<li>
									<a href="#" class="dropdown-toggle">
										<i class="icon-double-angle-right"></i>
										会员管理
										<b class="arrow icon-angle-down"></b>
									</a>

									<ul class="submenu">
										<li>
											<a href="{:U('Member/index')}">
												<i class="icon-leaf"></i>
												会员列表
											</a>
										</li>

										<li>
											<a href="{:U('Member/member_group_list')}">
												<i class="icon-leaf"></i>
												会员组
											</a>
										</li>

									</ul>
								</li>
							</ul>
						</li>

						<li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-list"></i>
								<span class="menu-text"> 菜单管理 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">

								<li>
									<a href="#" class="dropdown-toggle">
										<i class="icon-double-angle-right"></i>
										后台菜单
										<b class="arrow icon-angle-down"></b>
									</a>

									<ul class="submenu">
										<li>
											<a href="{:U('Admin/Menu/index')}">
												<i class="icon-leaf"></i>
												菜单列表
											</a>
										</li>

									</ul>
								</li>

								<li>
									<a href="#" class="dropdown-toggle">
										<i class="icon-double-angle-right"></i>
										前台菜单
										<b class="arrow icon-angle-down"></b>
									</a>

									<ul class="submenu">
										<li>
											<a href="#">
												<i class="icon-leaf"></i>
												菜单分类
											</a>
										</li>

										<li>
											<a href="#">
												<i class="icon-leaf"></i>
												菜单列表
											</a>
										</li>

									</ul>
								</li>
							</ul>
						</li>
						-->

					</ul><!-- /.nav-list -->

					<div class="sidebar-collapse" id="sidebar-collapse">
						<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
					</div>

					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
					</script>
				</div>