<!-- basic scripts -->

	<!--[if !IE]> -->

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

	<!-- <![endif]-->

	<!--
	[if IE]>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<![endif]
	-->

	<!--[if !IE]> -->

	<script type="text/javascript">
		window.jQuery || document.write("<script src='__JS__/jquery-2.0.3.min.js'>"+"<"+"script>");
	</script>

	<!-- <![endif]-->

	<!--
	[if IE]>
	<script type="text/javascript">
	 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"script>");
	</script>
	<![endif]
	-->

	<script type="text/javascript">
		if("ontouchend" in document) document.write("<script src='__JS__/jquery.mobile.custom.min.js'>"+"<"+"script>");
	</script>
	<script src="__JS__/bootstrap.min.js"></script>
	<script src="__JS__/typeahead-bs2.min.js"></script>

	<!-- page specific plugin scripts -->

	<!--[if lte IE 8]>
	  <script src="assets/js/excanvas.min.js"></script>
	<![endif]-->

	<script src="__JS__/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="__JS__/jquery.ui.touch-punch.min.js"></script>
	<script src="__JS__/jquery.slimscroll.min.js"></script>
	<script src="__JS__/jquery.easy-pie-chart.min.js"></script>
	<script src="__JS__/jquery.sparkline.min.js"></script>
	<script src="__JS__/flot/jquery.flot.min.js"></script>
	<script src="__JS__/flot/jquery.flot.pie.min.js"></script>
	<script src="__JS__/flot/jquery.flot.resize.min.js"></script>
	
	<!-- jquery.form、layer、jquery.validation/xltcmf的js -->
	<script src="__PUBLIC__/others/jquery.form.js"></script>
	<script src="__PUBLIC__/layer/layer_zh-cn.js"></script>
	<script src="__PUBLIC__/others/jquery.validation.min.js"></script>
	<script src="__PUBLIC__/xltcmf/xltcmf.js"></script>

	<!-- ace scripts -->

	<script src="__JS__/ace-elements.min.js"></script>
	<script src="__JS__/ace.min.js"></script>
