<!-- basic scripts -->

	<!--[if !IE]> -->

	<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> -->

	<!-- <![endif]-->

	<!--
	[if IE]>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<![endif]
	-->

	<!--[if !IE]> -->

	<script type="text/javascript">
		window.jQuery || document.write("<script src='__ADMIN__/js/jquery-2.0.3.min.js'>"+"<"+"script>");
	</script>

	<!-- <![endif]-->

	<!--
	[if IE]>
	<script type="text/javascript">
	 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"script>");
	</script>
	<![endif]
	-->

	<script type="text/javascript">
		if("ontouchend" in document) document.write("<script src='__ADMIN__/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
	</script>
	<script src="__ADMIN__/js/bootstrap.min.js"></script>
	<script src="__ADMIN__/js/typeahead-bs2.min.js"></script>

	<!-- page specific plugin scripts -->

	<!--[if lte IE 8]>
	  <script src="assets/js/excanvas.min.js"></script>
	<![endif]-->

	<script src="__ADMIN__/js/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="__ADMIN__/js/jquery.ui.touch-punch.min.js"></script>
	<script src="__ADMIN__/js/jquery.slimscroll.min.js"></script>
	<script src="__ADMIN__/js/jquery.easy-pie-chart.min.js"></script>
	<script src="__ADMIN__/js/jquery.sparkline.min.js"></script>
	<script src="__ADMIN__/js/flot/jquery.flot.min.js"></script>
	<script src="__ADMIN__/js/flot/jquery.flot.pie.min.js"></script>
	<script src="__ADMIN__/js/flot/jquery.flot.resize.min.js"></script>

	<!-- ace scripts -->

	<script src="__ADMIN__/js/ace-elements.min.js"></script>
	<script src="__ADMIN__/js/ace.min.js"></script>

	<!-- jquery.form、layer、jquery.validation、xltcmf的js -->
	<script src="__PLUGINS__/others/jquery.form.js"></script>
	<!-- <script src="__PLUGINS__/layer/layer_zh-cn.js"></script> -->
	<script src="__PLUGINS__/layui/layui.js"></script>
	<script src="__PLUGINS__/others/jquery.validation.min.js"></script>
	<script src="__PLUGINS__/others/maxlength.js"></script>
	<script src="__PLUGINS__/xltcmf/xltcmf.js"></script>
