<volist name="menus" id="v">
	<tr id="{$pid}-{$v.id}">
		<td class="center">
			<label>
				<input type="checkbox" class="ace"
				 name="id" value="{$v.id}" />
				<span class="lbl"></span>
			</label>
		</td>

		<td>{$v.id}</td>

		<td>
			<label>
				<input type="text" name="{$v.id}" value="{$v.sort}" class="xltcmf-input-sort">
			</label>
		</td>

		<td><a data-id="{$v.id}" data-level="{$v.level}" href="{:U('Menu/index')}" style="cursor:pointer;" class="ajax_menu_index"><span class="icon-plus blue"></span></a></td>

		<td style='padding-left:<if condition="$v.leftpin neq 0">{$v.leftpin}px</if>'>{$v.lefthtml}{$v.title}</td>

		<td>{$v.name}</td>

		<td>
			<if condition="$v['status'] eq 1">
				<a class="red display-btn" href="{:U('Menu/menu_status')}" data-id="{$v.id}" title="已显示">
					<div id="zt{$v.id}"><button class="btn btn-minier btn-yellow">显示</button></div>
				</a>
				<else/>
				<a class="red display-btn" href="{:U('Menu/menu_status')}" data-id="{$v.id}" title="已隐藏">
					<div id="zt{$v.id}"><button class="btn btn-minier btn-danger">隐藏</button></div>
				</a>
			</if>
		</td>
		<td class="hidden-480">{$v.level}级</td>

		<td>
			<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
				<a class="blue" href="{:U('Menu/menu_add',array('pid'=>$v['id']))}">
					<i class="icon-plus-sign bigger-130"></i>
				</a>

				<a class="green" href="{:U('Menu/menu_edit',array('id'=>$v['id']))}">
					<i class="icon-pencil bigger-130"></i>
				</a>

				<a class="red confirm-menu-delete" href="{:U('Menu/menu_delete',array('id'=>$v['id']))}" data-info="你确定要删除吗？" title="删除">
					<i class="icon-trash bigger-130"></i>
				</a>
			</div>

			<div class="visible-xs visible-sm hidden-md hidden-lg">
				<div class="inline position-relative">
					<button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown">
						<i class="icon-caret-down icon-only bigger-120"></i>
					</button>

					<ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
						<li>
							<a href="#" class="tooltip-info" data-rel="tooltip" title="View">
								<span class="blue">
									<i class="icon-zoom-in bigger-120"></i>
								</span>
							</a>
						</li>

						<li>
							<a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
								<span class="green">
									<i class="icon-edit bigger-120"></i>
								</span>
							</a>
						</li>

						<li>
							<a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
								<span class="red">
									<i class="icon-trash bigger-120"></i>
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</td>
	</tr>
</volist>