<extend name="Public:base" />

<block name="page-content">

	<!--
	<div class="page-header">
		<h1>
			Tables
			<small>
				<i class="icon-double-angle-right"></i>
				Static &amp; Dynamic Tables
			</small>
		</h1>
	</div>
	--><!-- /.page-header -->


	<div class="col-xs-12">
		<div class="tabbable">
			<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
				<li>
					<a href="{:U('User/role')}">角色列表</a>
				</li>

				<li class="active">
					<a href="{:U('User/role_add')}">添加角色</a>
				</li>

			</ul>

			<div class="tab-content">
				<div id="role_add" class="tab-pane in active">

					<div class="page-content">

						<div class="row">
							<div class="col-xs-12">		
										
								<!-- PAGE CONTENT BEGINS -->
								<form class="form-horizontal form_role_add" role="form" name="role_add" id="form_role_add" method="post" action="{:U('User/role_runadd')}">

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 角色名称 </label>

										<div class="col-sm-9">
											<input type="text" id="title" placeholder="输入角色名称" class="col-xs-10 col-sm-5" name="title" required />
											<span class="lbl">&nbsp;&nbsp;<span class="red">*</span>必填，不能为空</span>
										</div>
									</div>

									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-tags">角色描述</label>

										<div class="col-sm-9">
											<textarea name="des" id="des" placeholder="输入角色描述" class="col-xs-10 col-sm-5"></textarea>
										</div>
									</div>

									<div class="space-4"></div>

									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 是否开启 </label>
										<div class="col-sm-9" style="padding-top:5px;">
											<input name="status" id="status" value="1" class="ace ace-switch ace-switch-4 btn-flat" type="checkbox" checked="checked" />
											<span class="lbl">&nbsp;&nbsp;默认开启</span>
										</div>
									</div>

									<div class="space-4"></div>

									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="submit">
												<i class="icon-ok bigger-110"></i>
												确定
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset">
												<i class="icon-undo bigger-110"></i>
												重置
											</button>
										</div>
									</div>

								</form>


							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->

				</div>


			</div>
		</div>
	</div><!-- /span -->


</block>